
{% extends "users/layout.html" %}{% comment %} {% extends "users/layout.html" %} {% load static %} {% block content %}
<br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h3>
            <b>{{job.title}} ({{job.type}})</b>
          </h3>
          <p style="font-size: 18px">{{job.company}}, {{job.country.name}}</p>

          {% if job.link %}
          <a class="btn btn-warning btn-lg" href="{{job.link}}"
            ><b>Apply On Company's Website</b></a
          >
          {% else %}
          {% if not apply_button %} 
          {% if profile.resume %}
          <a
            class="btn btn-warning btn-lg"
            href="{% url 'apply-job' job.slug %}"
            ><b>Apply Now</b></a
          >
          {%else %}
          <a class="btn btn-danger btn-lg" href="{% url 'edit-profile' %}"
            ><b>Add Resume to apply!</b></a
          >
          {%endif%} {% else %}
          <a class="btn btn-success btn-lg" href="{% url 'applied-jobs' %}"
            ><b>Applied!</b></a
          >
          {% endif %} {%endif%} {% if not save_button %}
          <a
            class="btn btn-primary btn-lg ml-2"
            href="{% url 'save-job' job.slug %}"
            ><b>Save</b></a
          >
          {% else %}
          <a
            class="btn btn-danger btn-lg ml-2"
            href="{% url 'remove-job' job.slug %}"
            ><b>Remove</b></a
          >
          {% endif %}
          <hr my-2 />
          <span style="font-size: 18px"><b>Job Description</b></span>
          <p style="white-space: pre-wrap; font-size: 16px">
            {{ job.job_description }}
          </p>
          <hr my-2 />
          <p><b class="mr-2">Skills Required:</b>{{job.skills_required}}</p>
        </div>
      </div>
    </div>
  </div>
  <hr my-1 />
  <h3 class="text-center">Similar Jobs</h3>
  <div class="row">
    {% for rel_job in relevant_jobs %}
    <div class="col-md-6">
      <div class="card card-signin my-2">
        <span class="ml-3 mt-3">
          <a href="{% url 'job-detail' rel_job.slug %}"
            ><h4 class="text-dark">
              <b>{{rel_job.title}} ({{rel_job.job_type}})</b>
            </h4></a
          >
          <p style="font-size: 17px">
            {{rel_job.company}}<br />{{rel_job.location}}
          </p>
          <p style="font-size: 15px">
            {{rel_job.description|truncatewords:30}} -
            <a href="{% url 'job-detail' rel_job.slug %}">Read More</a>
          </p>
        </span>
        <div class="card-footer">
          <span style="font-size: 14px"
            >Posted on {{rel_job.date_posted|date:"F d, Y"}}</span
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div> {% endcomment %}






 {% load static %} {% block content %}

<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
         <title>Job board HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		    <link rel="shortcut icon" type="image/x-icon" href="staticassets/img/favicon.ico">

		<!-- CSS here -->
            {% comment %} <link rel="stylesheet" href="{% static 'static/assets/css/bootstrap.min.css' %}"> {% endcomment %}
            {% comment %} <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="static/assets/css/flaticon.css">
            <link rel="stylesheet" href="static/assets/css/slicknav.css">
            <link rel="stylesheet" href="static/assets/css/price_rangs.css">
            <link rel="stylesheet" href="static/assets/css/animate.min.css">
            <link rel="stylesheet" href="static/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="static/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="static/assets/css/themify-icons.css">
            <link rel="stylesheet" href="static/assets/css/slick.css">
            <link rel="stylesheet" href="static/assets/css/nice-select.css">
            <link rel="stylesheet" href="static/assets/css/style.css"> {% endcomment %}
   </head>

   <body>
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/price_rangs.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/nice-select.css' %}">
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent">
           <div class="headder-top header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            
                        </div>
                        
                
           
       
        <!-- Header End -->
    </header>
    <main>

        <!-- Hero Area Start-->
        <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>{{job.title}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Hero Area End -->
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">
                                <div class="company-img company-img-details">
                                    <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>{{job.title}}</h4>
                                    </a>
                                    <ul>
                                        <li>{{job.company}}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{job.country.name}}</li>
                                        <li>{{job.salary}}&nbsp; LPA</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          <!-- job single End -->
                       
                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Job Description</h4>
                                </div>
                                <p>{{job.job_description}}</p>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Required Knowledge, Skills, and Abilities</h4>
                                </div>
                               <ul>
                                   <li>{{job.skills}}</li>
                                   <li>System Software Development</li>
                                   <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>
                                   <li>Research and code , libraries, APIs and frameworks</li>
                                   <li>Strong knowledge on software development life cycle</li>
                                   <li>Strong problem solving and debugging skills</li>
                               </ul>
                            </div>
                            <div class="post-details2  mb-50">
                                 <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>Education + Experience</h4>
                                </div>
                               <ul>
                                   <li>3 or more years of professional design experience</li>
                                   <li>Direct response email experience</li>
                                   <li>Ecommerce website design experience</li>
                                   <li>Familiarity with mobile and web apps preferred</li>
                                   <li>Experience using Invision a plus</li>
                               </ul>
                            </div>
                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Job Overview</h4>
                           </div>
                          <ul>
                              <li>Posted date : <span>{{job.posted_at}}</span></li>
                              <li>Location : <span>{{job.country.name}}</span></li>
                              <li>Vacancy : <span>{{job.no_of_openings}}</span></li>
                              <li>Job nature : <span>{{job.type}}</span></li>
                              <li>Salary :  <span>{{job.salary}}&nbsp; LPA</span></li>
                              <li>Application date : <span>{{job.updated_at}}</span></li>
                        
        {% if not applied_button %} 
      
          <a
            class="btn btn-warning btn-lg"
            href="{% url 'apply-job' job.slug %}"
            ><b>Apply Now</b></a
          >
         
          
        {% else %}
        
          <a class="btn btn-success btn-lg" href="{% url 'applied-jobs' %}"
            ><b>Applied!</b></a
          >
        {% endif %}
           {% if not saved_button %}
          <a
            class="btn btn-primary btn-lg ml-2"
            href="{% url 'save-job' job.slug %}"
            ><b>Save</b></a
          >
          {% else %}
          <a
            class="btn btn-danger btn-lg ml-2"
            href="{% url 'remove-job' job.slug %}"
            ><b>Remove</b></a
          >
          {% endif %}
          
                         </div>
                       </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                           <div class="small-section-tittle">
                               <h4>Company Information</h4>
                           </div>
                              <span>{{job.company}}</span>
                              <p> {{job.about_company}}</p>
                            <ul>
                                <li>Name: <span>{{job.company}} </span></li>
                                <li>Web : <span> colorlib.com</span></li>
                                <li>Email: <span>carrier.colorlib@gmail.com</span></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <hr my-1 />
  <h3 class="text-center">Similar Jobs</h3>
  <div class="row">
    {% for rel_job in relevant_jobs %}
    <div class="col-md-6">
      <div class="card card-signin my-2">
        <span class="ml-3 mt-3">
          <a href="{% url 'job-details' rel_job.slug %}"
            ><h4 class="text-dark">
              <b>{{rel_job.title}} ({{rel_job.type}})</b>
            </h4></a
          >
          <p style="font-size: 17px">
            {{rel_job.company}}<br />{{rel_job.city}}
          </p>
          <p style="font-size: 15px">
            {{rel_job.job_description|truncatewords:30}} -
            <a href="{% url 'job-details' rel_job.slug %}">Read More</a>
          </p>
        </span>
        <div class="card-footer">
          <span style="font-size: 14px"
            >Posted on {{rel_job.posted_at|date:"F d, Y"}}</span
          >
        </div>
      </div>
    </div>
    {% endfor %}
        <!-- job post company End -->

    </main>
          </div>
                     

	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static '/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>

		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static '/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static '/assets/js/popper.min.js' %}"></script>
        <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>
        

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>
        <script src="./assets/js/price_rangs.js"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
        <script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
      
        <script src="{% static '/assets/js/plugins.js' %}"></script>
      
        <script src="{% static '/assets/js/main.js' %}"></script>
        
    </body>
</html>
{% endblock content %}